@import "tailwindcss";

@theme {
  --color-primary: #ffffff;
  --color-secondary: #395029;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  #scrollContainer::-webkit-scrollbar {
    display: none;
  }

  #scrollContainer {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.myanmar-content {
  font-family: "Your-Myanmar-Font", sans-serif;
}

.myanmar-content h1,
.myanmar-content h2,
.myanmar-content h3 {
  line-height: 1.5;
}

.myanmar-content p,
.myanmar-content li {
  line-height: 2;
}
